
.navigationBar a{
    top: 52px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.navigationBar{
    background:  black;
    padding: 20px 70px;

}

#buttons{
    margin: 15px;
    padding: 10px;
}