<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navigationBar a{
        top: 52px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: white;
        }
        .navigationBar{
        background:  black;
        padding: 20px 70px;

        }
    </style>

    
    <title>Schedule a Mail</title>
</head>
<body>
    <nav class="navbar  navbar-expand-sm  navigationBar container-fluid">

        <ul class="navbar-nav ml-auto ">
            <li class="nav-item "><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">History</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Login/SignUp</a></li>
        </ul>  
    
    </nav>
   
    <script>
        
    </script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>